img#chances {
	margin-top: -210px;
	position: absolute;
	margin-left: -20px;
}

#old-rows {
	display: none;
}

#cons-container{
	margin-bottom: 20px;
	margin-right: 30px;
    display: inline-block;
    vertical-align: top;
}

#vowel-container{
    display: inline-block;
    vertical-align: top;
	margin-right: 50px;

}

.container .text-center {
	margin: 10px 0 40px 0;
}

.jumbotron {
	background-color: #F83;
}

.btn-phon {
	width: 40px;
	margin: 5px;
	padding: 6px;
}

.btn-game-mode {
	margin: 5px;
}

.well {
	display: inline;
}
